---
- name: Install Rust dependencies
  apt:
    name:
      - curl
      - build-essential
    state: present
  become: true

- name: Install Rust and Cargo via rustup
  shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  args:
    creates: "{{ user_home }}/.cargo/bin/rustup"
  become: false