- hosts: localhost
  connection: local
  gather_facts: true
  become: false

  tasks:
    - name: Update apt cache
      become: true
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install basic packages
      become: true
      apt:
        name:
          - curl
          - tree
          - ibus-mozc
        state: present

    - name: Ensure .config directory exists
      file:
        path: "{{ ansible_env.HOME }}/.config"
        state: directory
        mode: '0755'
      become: false

    - name: Create symbolic link for Neovim
      file:
        src: "{{ ansible_env.HOME }}/dotfiles/config/{{ item }}"  # 実体 (dotfiles内)
        dest: "{{ ansible_env.HOME }}/.config/{{ item }}"         # リンク先 (システム側)
        state: link
      become: false
      loop:
        - nvim
      when: >
        ansible_env.HOME+'/dotfiles/config/nvim' is exists
        and ansible_env.HOME+'/.config/nvim' is not directory

    - name: Add Mozc to GNOME input sources
      command: >
        gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us'), ('ibus', 'mozc-jp')]"
      become: false
      changed_when: false
