- hosts: localhost
  connection: local
  gather_facts: true
  become: false

  vars:
    user_home: "{{ lookup('env', 'HOME') }}"

  tasks:
    - name: Update apt cache
      become: true
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install basic packages
      become: true
      apt:
        name:
          - curl
          - tree
          - ibus-mozc
        state: present

    - name: Stat nvim source directory
      stat:
        path: "{{ user_home }}/dotfiles/config/nvim"
      register: nvim_src

    - name: Stat nvim destination directory
      stat:
        path: "{{ user_home }}/.config/nvim"
      register: nvim_dest

    - name: Ensure .config directory exists
      file:
        path: "{{ user_home }}/.config"
        state: directory
        mode: '0755'
      become: false

    - name: Create symbolic link for Neovim
      file:
        src: "{{ user_home }}/dotfiles/config/{{ item }}"  # 実体 (dotfiles内)
        dest: "{{ user_home }}/.config/{{ item }}"         # リンク先 (システム側)
        state: link
      become: false
      loop:
        - nvim
      when:
        - nvim_src.stat.exists
        - not nvim_dest.stat.isdir

    - name: Add Mozc to GNOME input sources
      command: >
        gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us'), ('ibus', 'mozc-jp')]"
      become: false
      changed_when: false

    - name: Create symbolic link for ibus mozc config
      file:
        src: "{{ user_home }}/dotfiles-popos/config/mozc/ibus-config.textproto"  # 実体 (dotfiles内)
        dest: "{{ user_home }}/.config/mozc/ibus-config.textproto"       # リンク先 (システム側)
        state: link
      become: false

  roles:
    - gnome
    - fonts
    - zsh
    - themes
    - develop
    - vscode
    - neovim

    - languages/rust